.head{
    background : linear-gradient(135deg, #2e7d32, #66bb6a);
}
.user-info, .pred-info {
    background: rgba(255, 255, 255, 0.15);
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    padding: 10px;
    color: #ffffff; 
}