{% extends "base.html" %}
{% load static %}
<title>{% block title %}Home{% endblock title %}</title>

{% block content %}
<section class="head mt-4 ms-3 me-4 mb-5 p-4 rounded-4 text-white ">
    <div class="row align-items-center">
        <div class="col-lg-7">
            <h2 class="display-6 fw-bold">Smart Crop Recommendation</h2>
            <p class="lead text-white-50 mb-3">Smart farming starts with the right crop, this system analyzes soil and climate data to recommend the best crops for higher productivity and sustainable agriculture.</p>
        </div>
        <div class="col-lg-5">

        </div>
    </div>
</section>
{% endblock content %}
